<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" th:object="${rentalBasketDto}" action="/rental/1/apply" method="post">
<!--    <div>-->
<!--        <div>-->
<!--            <form th:object="${rentalItemSearch}" class="form-inline">-->
<!--                <div class="form-group mb-2">-->
<!--                    <input type="text" th:field="*{programTitle}" class="form-control" placeholder="프로그램명"/>-->
<!--                </div>-->
<!--                <div class="form-group mx-sm-1 mb-2">-->
<!--                    <select th:field="*{programType}" class="form-control">-->
<!--                        <option value="">프로그램 유형</option>-->
<!--                        <option th:each="programType : ${T(gw.toy.reqandreserv.domain.ProgramType).values()}"-->
<!--                                th:value="${programType}"-->
<!--                                th:text="${programType}">option-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary mb-2">검색</button>-->
<!--            </form>-->
<!--        </div>-->

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>물품명</th>
                <th>목적</th>
                <th>목적</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="basketList : ${basketList}">

                <td th:text="${basketList.rentalBasketId}">
                    <input hidden type="number" th:field="*{rentalBasketId}" class="form-control" id="rentalBasketId" th:value="${basketList.rentalBasketId}">
                </td>
                <td th:text="${basketList.rentalItem.name}"></td>
                <td th:text="${basketList.rentalItem.purpose}"></td>
                <td th:text="${basketList.rentalItem.classification}"></td>
                <td th:text="${basketList.quantity}">
                    <input hidden type="number" th:field="*{quantity}" class="form-control" th:id="quantity" th:value="${basketList.quantity}">
                </td>
                <td>
                    <a href="#" class="btn btn-danger" th:href="'javascript:del('+${basketList.rentalBasketId}+')'">빼기</a>
                </td>
<!--                <td>-->
<!--                    <a th:if="${item.status.name() == 'ORDER'}" href="#" th:href="'javascript:cancel('+${item.id}+')'"-->
<!--                       class="btn btn-danger">CANCEL</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">신청하기</button>
    </form>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
<script type="text/javascript">
    function apply(id) {
        const form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "/apply/" + id + "/item");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>
